@import "mixins/mixins";
@import "common/var";

@include b(divider) {
  position: relative;
  background-color: $--border-color-lighter;

  @include m(horizontal) {
    display: block;
    height: 1px;
    margin: 24px 0;
    width: 100%;
  }

  @include m(vertical) {
    display: inline-block;
    width: 1px;
    height: 1em;
    margin: 0 8px;
    vertical-align: middle;
  }

  @include e(text) {
    position: absolute;
    top: 50%;
    padding: 0 20px;
    background-color: $--color-white;
    color: $--color-text-regular;
    font-size: 14px;
    transform: translateY(-50%);
  }

  @include when(left) {
    .el-divider__text {
      left: 20px;
    }
  }

  @include when(center) {
    .el-divider__text {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @include when(right) {
    .el-divider__text {
      right: 20px;
    }
  }
}
